
/* -----------------------------------------------------------------------------------

                                    @@@BODY

---------------------------------------------------------------------------------------*/
body {
    margin: 0 !important;
    min-height:100% !important;
}

/* -----------------------------------------------------------------------------------

                                    @@@HEADER

---------------------------------------------------------------------------------------*/
 .bg-persoUn{
    background-color: #608DF9 !important;

} 

/* nav a {
    color: white !important;
    border-radius: 100px;
}
nav a img{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}

nav li:last-child {
    color: #608DF9 !important ;
} */

/* -----------------------------------------------------------------------------------

                                    @@@INDEX

---------------------------------------------------------------------------------------*/

.img-index {
    border-radius: 53px !important;
    box-shadow: black 0px 1px 7px !important;
    width: 340px !important;
    margin-left: auto;
    margin-right: auto;
}

.button-start {
    width: 200px !important;
    height: 50px !important;
    color: white !important;
    border-radius: 20px !important;
}

/* -----------------------------------------------------------------------------------

                                    @@@FOOTER

---------------------------------------------------------------------------------------*/
